@using BlazorArchitecture.WasmApp.Shared.Components.Header
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AppHeader>
    <div>Left</div>
    <div>Right</div>
</AppHeader>

<div class="container">
    @Body
</div>