@page "/"
@using BlazorArchitecture.WasmApp.Products.Shared.Components
@using BlazorArchitecture.WasmApp.Shared.Components

<StackLayout>
    <h1>Products</h1>
    <ProductsTable Products="@_products"
                   OnRowClick="ToggleOverlay"/>
</StackLayout>

<MudOverlay @bind-Visible="_isOverlayVisible"
            DarkBackground
            AutoClose="true"
            OnClosed="OnOverlayClosed">
    <div>@_selectedProductId</div>
</MudOverlay>