@page "/"
@using BlazorArchitecture.WasmApp.Products.Shared.Components
@using BlazorArchitecture.WasmApp.Shared.Components

<StackLayout>
    <h1>Products</h1>
    
    <ProductsTable Products="@_products" OnRowClick="NavigateToDetailPage" />
    
    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Delete">Delete</MudButton>
    </div>
</StackLayout>